# -------------------------
# General / OS
# -------------------------
*.class
*.log
*.pyc
*.swp
*.tmp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------
# IDE Related
# -------------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode
.vscode/

# -------------------------
# Flutter / Dart / Pub
# -------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# -------------------------
# Android
# -------------------------
android/.gradle/
android/build/
*.apk
*.aar
local.properties
/android/app/debug
/android/app/profile
/android/app/release

# -------------------------
# iOS
# -------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/build/

# -------------------------
# macOS
# -------------------------
macos/Flutter/ephemeral/
macos/build/

# -------------------------
# Windows
# -------------------------
windows/Flutter/ephemeral/
windows/build/

# -------------------------
# Linux
# -------------------------
linux/Flutter/ephemeral/
linux/build/

# -------------------------
# Web
# -------------------------
web/.dart_tool/
web/build/

# -------------------------
# Archives / Compressed
# -------------------------
*.zip
*.tar.gz
*.tgz

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Custom (Project Specific)
# -------------------------
ios_old/
0/lib/src/
devtools_options.yaml
analysis_options.yaml
